@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto',sans-serif;
}
body,html{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
grid-row: 2/4;
}
.accountName{
    font-weight: 700;
}
.searchbar{
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-bottom: 3px solid gray;
}
.searchbar>*{
    padding: 12px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding: 16px ;
    align-items: center;
    font-size:1.5em;
}
#logoIcon{
    width: 50px;
    height: 50px;
}

.iconsNavbar{
    background-color: #ff8000;
    filter:invert(1);
}
.accountInfo>img,.trendingpfp,#searchIcon{
    width: 30px;
    height:30px;
}
img.searchPfp{
    width: 40px;
    height: 40px;
}
#headerPfp{
    width:60px;
    height: 60px;
}
#InputDiv,.accountInfo{
    display: flex;
    gap: 2%;
    align-items: center;
    justify-content: center;
}
.sidebar>*{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 12px;
    font-size: large;
}
.sidebar>#bottom{
    margin-top:50px;
}
.sidebar>*>img{
    margin-left: 30%;
}

.logo,.sidebar{
    background-color: #007fff;
    color:white;
    font-weight: 700;
    margin:0;
}
#headerSection{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
}
#searchInput{
    border: none;
    border-radius: 12px;
    background-color: gainsboro;
    width:75%;
    font-size: large;
}
#buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#buttons>*{
    background-color: #007fff;
    color: white;
    padding: 8px 25px;
    border: none;
    border-radius: 16px;
}
.card{
    background-color: white;
}
.heading{
    font-weight: 700;
    font-size: medium;
}
.projects>.card{
    border-left: 6px orange solid;
    padding: 12px;
    border-radius: 4px;
}
.projects>.card>.cardIcons{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.mainArea{
    display: grid;
    grid-template-columns: 7fr 3fr;
    background-color: gainsboro;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
    gap:10px;
}
.projects>.heading{
    grid-column: 1/3;
}
.announcements>*{
    border-bottom: gainsboro 2px solid;
}
.mainArea>.left>.announcements,.mainArea>.left>.trending{
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}
.projects>.heading{
    display: flex;
    align-items: center;
}
.announcements>*{
    padding:10px 5px  ;
}
.announcements>#lastCard{
    border: none;
}
.mainArea>.left{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:10px;
}